/*
Font: Michroma
*/
.contenedor {
    background-color: #101112;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #565656;
    color: #f5f5f5;
    font-family: "Michroma", sans-serif;
}

.info-title {
    color: red;
    font-style: italic;
    font-weight: 700;
}

.custom-poster {
    width: 20rem;
    height: auto;
}
