/*
Font: Michroma
*/

/* para el fondo */
body {
    background-image: url("./imgs/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

h2,
h5 {
    text-shadow: 0 0 5px black;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

.contenedor {
    background-color: #101112;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #565656;
    color: #f5f5f5;
    font-family: "Michroma", sans-serif;
}

.info-title {
    color: red;
    font-style: italic;
    font-weight: 700;
}

.custom-poster {
    width: 20rem;
    height: auto;
}

.contenedor {
    background-color: rgba(16, 17, 18, 0.6); /* #101112 con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #565656;
    color: #f5f5f5;
    font-family: "Michroma", sans-serif;
}

.text-body-secondary {
    color: #f5f5f5;
}

.formulario-blur {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #f5f5f5;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1);
}
